@import "./tokens.css";

* {
  box-sizing: border-box;
}

html,
body {

  margin: 0;
  padding: 0;

  background: var(--color-bg);

  font-family: var(--font-system);

}

a {
  text-decoration: none;
  color: inherit;
}
